// Basic styles

body {
  margin: 0;
  padding: 0;
  background-color: $body-color;
}
// Links

a {
  text-decoration: none;
  color: $primary-color;

  &:focus,
  &:hover {
    color: lighten($primary-color, 20%);
  }
}
// Buttons

.btn {
  max-width: 150px;
  font-family: $heading-font;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-primary {
  width: 150px;
  border-radius: 3px;
  background-color: transparent;
  border: 2px solid $white-color;
  color: $white-color;

  &:hover {
    background-color: $white-color;
    border: 2px solid $white-color;
    color: $primary-color;
  }
}
// Typography

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
}

p {
  font-family: $bodytext-font;
}
// Logo

.logo {
  max-width: 200px;
  margin-left: 33px;
  margin-top: 20px;
}
@media(min-width: 992px) {
  .logo {
    max-width: 350px;
    margin-left: 33px;
    margin-top: 0;
  }
}
// Kontakt formular bokse

.form__wrapper {
  display: flex;
  justify-content: center;
}

.form-control {
  border-radius: 3px !important;
  border: none;
  margin-right: 19px;
}
@media(min-width: 992px) {
  .form-group {
    margin-bottom: 0;
  }
}
//Placeholders

input::placeholder {
  color: $gray-color !important;
  font-weight: 600;
}
