/** Color **/

$primary-color: #3a4b9f;
$body-color: #fcfcfc;
$black-color: #1d1d1d;
$white-color: #ffffff;
$gray-color: #646464;

/** Typography **/

$heading-font: 'Open Sans', sans-serif;
$bodytext-font: 'Roboto', sans-serif;

/** Section padding **/ 

$section-padding-one: 200px 0;
$section-padding-two: 100px 0;
$section-padding-three: 50px 0;