// Footer

footer {
  .footer__wrapper {
    padding: $section-padding-three;

    .footer__title {
      font-size: 24px;
      color: $black-color;
      font-weight: 700;
      margin-bottom: 42px;
    }

    p {
      font-family: $heading-font;
    }

    ul {
      padding-left: 0;

      li {
        list-style-type: none;
        margin-bottom: 10px;

        &:before {
          content: "";
          background: url("assets/images/double-arrow.svg") no-repeat;
          width: 50px;
          height: 50px;
        }

        a {
          color: $primary-color;
        }
      }
    }
  }
}
//Footer til mobile

.footer__mobile {
  display: none;
}
//Copyright

.copyright__wrapper {
  display: flex;
  justify-content: center;
  background-color: $primary-color;
  color: $white-color;
  padding-top: 20px;
  padding-bottom: 20px;

  .copyright__content {
    font-size: 16px;
  }
}
@media(max-width: 991px) {
  .footer__wrapper {
    display: none;
  }

  .footer__mobile {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;

    .footer__mobile__content {
      font-size: 12px;
    }
  }
}
