// Navigation
.navbar {
    font-family: $heading-font;
    font-weight: 700;

    .nav-link {
        color: $black-color !important;

        &:hover {
            color: $primary-color !important;
        }
    }
}



//Navigation (til mobil)

.navbar-light .navbar-toggler {
    border: none;
    border-color: transparent !important;
}

.navbar-toggler-icon {
    position: relative;

    &:before {
        content: 'Menu';
        font-size: 16px;
        font-family: $heading-font;
        font-weight: 600;
        text-transform: uppercase;
        color: $black-color;
        position: absolute;
        top: 15px;
        left: -51px;
    }
}

.custom-toggler.navbar-toggler {
    border-color: rgb(29,29,29);
} 

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(29,29,29)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

 .navbar-toggler-icon{
  padding: 25px;
}
