section.genvej__section {
    padding: $section-padding-three;
}

section.kontakt_formular_forside{
    background-color: $primary-color;
    padding: $section-padding-three;
}

section.citat__section{
    padding: $section-padding-two;
}

section.default__section{
  padding: $section-padding-three;
  background-color: $primary-color;
  color: $white-color;
  text-transform: uppercase;

  h2{
    font-weight: 700;
    margin-bottom: 30px;
  }
}
