@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto");
/** Color **/
/** Typography **/
/** Section padding **/
body {
  margin: 0;
  padding: 0;
  background-color: #fcfcfc; }

a {
  text-decoration: none;
  color: #3a4b9f; }
  a:focus, a:hover {
    color: #7382cc; }

.btn {
  max-width: 150px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase; }

.btn-primary {
  width: 150px;
  border-radius: 3px;
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff; }
  .btn-primary:hover {
    background-color: #ffffff;
    border: 2px solid #ffffff;
    color: #3a4b9f; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif; }

p {
  font-family: "Roboto", sans-serif; }

.logo {
  max-width: 200px;
  margin-left: 33px;
  margin-top: 20px; }

@media (min-width: 992px) {
  .logo {
    max-width: 350px;
    margin-left: 33px;
    margin-top: 0; } }
.form__wrapper {
  display: flex;
  justify-content: center; }

.form-control {
  border-radius: 3px !important;
  border: none;
  margin-right: 19px; }

@media (min-width: 992px) {
  .form-group {
    margin-bottom: 0; } }
input::placeholder {
  color: #646464 !important;
  font-weight: 600; }

.navbar {
  font-family: "Open Sans", sans-serif;
  font-weight: 700; }
  .navbar .nav-link {
    color: #1d1d1d !important; }
    .navbar .nav-link:hover {
      color: #3a4b9f !important; }

.navbar-light .navbar-toggler {
  border: none;
  border-color: transparent !important; }

.navbar-toggler-icon {
  position: relative; }
  .navbar-toggler-icon:before {
    content: 'Menu';
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #1d1d1d;
    position: absolute;
    top: 15px;
    left: -51px; }

.custom-toggler.navbar-toggler {
  border-color: #1d1d1d; }

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(29,29,29)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.navbar-toggler-icon {
  padding: 25px; }

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.carousel-inner {
  min-height: 500px; }

.fade-carousel {
  position: relative;
  height: 100vh; }

.fade-carousel .carousel-inner .item {
  height: 100vh; }

.fade-carousel .carousel-indicators > li {
  margin: 0 2px;
  background-color: #3a4b9f;
  border-color: #3a4b9f;
  opacity: .7;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  margin-right: 15px; }

.fade-carousel .carousel-indicators > li.active {
  width: 22px;
  height: 22px;
  opacity: 1; }

.carousel-indicators {
  top: 73%; }

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1d1d1d;
  opacity: .8; }

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 99;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0); }

.hero h1 {
  font-size: 69px;
  font-weight: bold;
  margin: 0;
  padding: 0; }

.fade-carousel .carousel-inner .item .hero {
  opacity: 0;
  -webkit-transition: 3s all ease-in-out .2s;
  -moz-transition: 3s all ease-in-out .2s;
  -ms-transition: 3s all ease-in-out .2s;
  -o-transition: 3s all ease-in-out .2s;
  transition: 3s all ease-in-out .2s; }

.fade-carousel .carousel-inner .item.active .hero {
  opacity: 1;
  -webkit-transition: 2s all ease-in-out .1s;
  -moz-transition: 2s all ease-in-out .1s;
  -ms-transition: 2s all ease-in-out .1s;
  -o-transition: 2s all ease-in-out .1s;
  transition: 2s all ease-in-out .1s; }

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {
  padding: 10px 40px; }

.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
  color: #f5f5f5;
  background-color: #1abc9c;
  border-color: #1abc9c;
  outline: none;
  margin: 20px auto; }

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.fade-carousel .slides .slide-1 {
  background-image: url(../assets/images/slide1.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.fade-carousel .slides .slide-2 {
  background-image: url(/images/header--img.png); }

.fade-carousel .slides .slide-3 {
  background-image: url(/images/header--img.png); }

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px) {
  .hero {
    width: 980px; } }
@media screen and (max-width: 640px) {
  .hero h1 {
    font-size: 4em; } }
header.info__1 {
  background-color: #3a4b9f;
  padding: 5px 0;
  color: #ffffff; }
  header.info__1 .info__items {
    margin-right: 75px; }
    header.info__1 .info__items .fa {
      margin-right: 5px; }

@media (max-width: 991px) {
  header.info__1 {
    display: none; } }
header.header__container {
  padding: 15px 0; }
  header.header__container .nav__logo__placeholder {
    display: flex;
    justify-content: space-between; }

footer .footer__wrapper {
  padding: 50px 0; }
  footer .footer__wrapper .footer__title {
    font-size: 24px;
    color: #1d1d1d;
    font-weight: 700;
    margin-bottom: 42px; }
  footer .footer__wrapper p {
    font-family: "Open Sans", sans-serif; }
  footer .footer__wrapper ul {
    padding-left: 0; }
    footer .footer__wrapper ul li {
      list-style-type: none;
      margin-bottom: 10px; }
      footer .footer__wrapper ul li:before {
        content: "";
        background: url("assets/images/double-arrow.svg") no-repeat;
        width: 50px;
        height: 50px; }
      footer .footer__wrapper ul li a {
        color: #3a4b9f; }

.copyright__wrapper {
  display: flex;
  justify-content: center;
  background-color: #3a4b9f;
  color: #ffffff;
  padding: 20px 0; }
  .copyright__wrapper .copyright__content {
    font-size: 16px; }

section.genvej__section {
  padding: 50px 0; }

section.kontakt_formular_forside {
  background-color: #3a4b9f;
  padding: 50px 0; }

section.citat__section {
  padding: 100px 0; }

section.default__section {
  padding: 50px 0;
  background-color: #3a4b9f;
  color: #ffffff;
  text-transform: uppercase; }
  section.default__section h2 {
    font-weight: 700;
    margin-bottom: 30px; }

.genvej__boks {
  position: relative;
  height: 230px; }
  .genvej__boks .img__link {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute; }
  .genvej__boks .genvej__boks__knap {
    position: absolute;
    bottom: 0;
    background-color: rgba(72, 88, 163, 0.9);
    color: #ffffff;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 0;
    transition: .3s ease-in; }
    .genvej__boks .genvej__boks__knap:hover {
      padding: 30px 0; }
    .genvej__boks .genvej__boks__knap .genvej__titel {
      font-size: 30px;
      font-weight: 700; }

@media (min-width: 992px) {
  .genvej__boks {
    position: relative;
    height: 230px; }
    .genvej__boks .img__link {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
      position: absolute; }
    .genvej__boks .genvej__boks__knap {
      position: absolute;
      bottom: 0;
      background-color: rgba(72, 88, 163, 0.9);
      color: #ffffff;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      padding: 15px 0;
      transition: .3s ease-in; }
      .genvej__boks .genvej__boks__knap:hover {
        padding: 30px 0; }
      .genvej__boks .genvej__boks__knap .genvej__titel {
        font-size: 22px;
        font-weight: 700; }
      .genvej__boks .genvej__boks__knap .btn-primary {
        display: none; }

  .genvej__boks__knap:hover .btn-primary {
    display: inline-block; } }

/*# sourceMappingURL=main.css.map */
